body{
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Noto Serif JP', serif;*/
    color: white;
    /*background-color: rgb(8, 136, 146);*/
    background-color: #44546A;
}

p{
    font-size: 70px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.rogo{
    text-align: center;
}

.login{
    text-align: center;
}

.text{
    text-align: center;
    margin-bottom: 20px;
}