body{
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Noto Serif JP', serif;*/
    color: white;
    background-color: rgb(8, 136, 146)
}

p{
    font-size: 80px;
    text-align: center;
}